<div class="footer">
    <div id="footer-style" class="container">
        <a href="https://twitter.com/BikeBrewMN" target="_blank" aria-label="Twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>        &nbsp; &nbsp; &nbsp;
        <a href="https://www.instagram.com/BikeBrew.MN/" target="_blank" aria-label="Instagram"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>        &nbsp; &nbsp; &nbsp;
        <a href="mailto:bikebrew.mn@gmail.com" target="_blank" aria-label="Email us"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        </br>
        <a href="https://github.com/marshcooke">&copy; 2019 Sarah Cooke</a>
    </div>
</div>
