<div class="footer">
    <div id="footer-style" class="container">
        <a href="https://twitter.com/BikeBrewMN" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>        &nbsp; &nbsp; &nbsp;
        <a href="https://www.instagram.com/BikeBrew.MN/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>        &nbsp; &nbsp; &nbsp;
        <a href="mailto:bikebrew.mn@gmail.com" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        </br>
        &nbsp;
        &nbsp;
        <a href="https://github.com/marshcooke">© 2018 Sarah Cooke</a>
    </div>
</div>