<div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>        
      <li><a href="#/user"><i class="fa fa-gratipay" aria-hidden="true"></i> Favorite Breweries</a></li>
      <li><a href="#/info"><i class="fa fa-beer" aria-hidden="true"></i> Select Breweries</a></li>
      <li><a href="#/map"><i class="fa fa-map" aria-hidden="true"></i> Take a Ride</a></li>
      <li><a href="#/login" ng-click="uc.userService.logout()" name="logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>