<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>{{fc.userObject.userName}}, here are your favorite breweries:</h2>
    <!-- <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button> -->
    <div class="container" ng-init="fc.getFavorites()">
        <table>
            <tr>
                <th scope="col">Favorite Breweries</th>
                <th scope="col">City</th>
                <th scope="col">Your Favorites</th>
            </tr>
            <tr ng-repeat="favorite in fc.allFavoritesObj.favorite |  orderBy: 'breweryname'">
                <td>{{favorite.breweryname}}</td>
                <td>{{favorite.city}}</td>
                <td><button id="delete" class="btn btn-default" ng-click="fc.deleteFavorites(favorite.breweries_id)">Remove from Favorites</button></td>
            </tr>
        </table>
    </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
