<div ng-include="'views/partials/nav.html'"></div>
<div class="container" id="home-thanks-div">
        <!-- <h1 id="welcome" class="lead">Welcome, {{fc.userObject.userName}}!</h1> -->
        <div>
                <p>BikeBrewMN is a web application combining biking and breweries in Minnesota. The database contains every
                        brewery's information in the state of Minnesota and allows users to save their favorite breweries.
                        Additionally, users have an interactive map which populates their favorite breweries along with their
                        chosen bike route and diections.</p>
                <h3>Before using BikeBrewMn, review the following information</h3>
                <p>
                        <dl id="link-style">
                                <dt><strong>BIKE RESPONSIBLY:</strong> <a href="http://www.bikemn.org/education/minnesota-bicycle-laws"
                                                target="_blank">Consider reviewing the Minnesota State Bicycling Laws before you ride</a>.
                                        Communicating your intentions not only makes your ride safer. If you need a refresher
                                        of the most common signals and other riding tips, <a href="http://bikeleague.org/content/signaling"
                                                target="_blank">follow this link</a>.</dt>
                                </br>
                                <dt><strong>BIKE REPAIR:</strong> If you find your bike in need of repair, take a look at
                                        <a href="http://www.citypages.com/arts/top-10-bike-shops-in-the-twin-cities-6581219" target="_blank">this recommended list</a>                                        of Minnesota bike shops to find one convenient for you.</dt>
                                </br>
                                <dt><strong>ALTERNATE WAYS HOME:</strong> <em>Drink responsibly.</em> If you find yourself unable
                                        to bike home, alternate safe transportation routes exist. <a href="https://www.metrotransit.org/"
                                                target="_blank">Metro Transit</a>, <a href="https://www.lyft.com/cities/minneapolis-st-paul-mn"
                                                target="_blank">Lyft</a>, <a href="https://www.uber.com/cities/minneapolis/" target="_blank">Uber</a>,
                                        etc.
                                </dt>
                        </dl>
                </p>
        </div>
</div>