<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

        <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>


        <ul>
                <li>BIKE SIGNALS: Lorem ipsum dolor sit amet, causae equidem no quo. Singulis deseruisse sed an, meis modus nulla mea id. Te sale accusamus eam. Quo sanctus dissentiunt theophrastus at, vis appetere persequeris in. Legimus torquatos at sea.</li>
                <li>BIKE REPAIR: Lorem ipsum dolor sit amet, causae equidem no quo. Singulis deseruisse sed an, meis modus nulla mea id. Te sale accusamus eam. Quo sanctus dissentiunt theophrastus at, vis appetere persequeris in. Legimus torquatos at sea.</li>
                <li>DRINK RESPONSIBLY: Lorem ipsum dolor sit amet, causae equidem no quo. Singulis deseruisse sed an, meis modus nulla mea id. Te sale accusamus eam. Quo sanctus dissentiunt theophrastus at, vis appetere persequeris in. Legimus torquatos at sea.</li>
                <li>ALTERNATE WAYS HOME: Lorem ipsum dolor sit amet, causae equidem no quo. Singulis deseruisse sed an, meis modus nulla mea id. Te sale accusamus eam. Quo sanctus dissentiunt theophrastus at, vis appetere persequeris in. Legimus torquatos at sea.</li>
        </ul>

</div>
