<div class="container" id="register-login">
    <h2 id="register-login-header">Login</h2>
    <p class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</p>
    <form ng-submit="lc.login()" class="reg-log-form">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" ng-model="lc.user.username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" ng-model="lc.user.password" />
        </div>
        <div>
            <input class="btn btn-default" type="submit" name="submit" value="Log In" />
            <a href="#/register" id="register-cancel">Register</a>
        </div>
    </form>
</div>
