<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1>Choose your destination!</h1>
    <div>

        <!-- does the ng-init need to go on the div instead to incompass the {{}} section in the directions (outside the form) -->
        <form ng-init="mc.getRoutes()" class="map-form">
            <div>
                <input placeholder="Starting location" type="text" ng-model="mc.routeIn" places-auto-complete size=60 component-restrictions=country:
                    us>
            </div>
            <div>
                <input placeholder="End destination" type="text" ng-model="mc.destIn" places-auto-complete size=60 component-restrictions=country:
                    us>
            </div>
        </form>
        </br>
        <ng-map id="map" zoom="11" center="44.981539,-93.190526">
            <bicycling-layer>
                <directions draggable="true" panel="directions-panel" travel-mode="BICYCLING" origin="{{mc.routeIn}}" destination="{{mc.destIn}}">
                </directions>
                <marker ng-repeat="marker in mc.mapFavoritesObj.list" title="{{marker.breweryname}}" position="{{marker.latitude}},{{marker.longitude}}"></marker>
            </bicycling-layer>
        </ng-map>

        <div id="directions-panel" style="float:left; height: 100%; overflow: auto; padding: 0px 5px">
        </div>
        &nbsp;

    </div>
    &nbsp;    


</div>
&nbsp;

<div ng-include="'views/partials/footer.html'"></div>