<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1>Choose your destination!</h1>

    <ng-map zoom="15" center="current-location">
        <bicycling-layer>
            <directions draggable="true" panel="directions-panel" travel-mode="" waypoints="[{location:'kingston', stopover:true}]" origin="current-location"
                destination="">
            </directions>

        </bicycling-layer>
    </ng-map>

    <form>
    <div>
        <label for="startingDestination">Starting destination:</label> 
        <!-- // Or current locaiton??? -->
        <input type="text"/>
    </div>
    <div>
        <label for="startingDestination">Ending destination:</label>
        <input type="text"/>
    </div>
    </form>

</div>