<div ng-include="'views/partials/nav.html'"></div>
<div class="container" id="home-thanks-div">
    <p>BikeBrewMN is a web application combining biking and breweries in Minnesota. The database contains every brewery's information
        in the state of Minnesota and allows users to save their favorite breweries. Additionally, users have an interactive
        map which populates their favorite breweries along with their chosen bike route and diections.</p>

    <div style="text-align:center">
        <h2>Technologies</h2>
        <p>
            <ul>
                <li>SEAN stack</li>
                <li>Passport</li>
                <li>ng-map</li>
                <li>Bootstrap</li>
                <li>FontAwesome Icons</li>
            </ul>
        </p>
        <h2>Challenges</h2>
        <p>
            <ul>
                <li>Accessibility to brewery data</li>
                <li>All things ng-map</li>
            </ul>
        </p>
        <h2>Stretch Goals</h2>
        <p>
            <ul>
                <li>Mobile responsive design.</li>
                <li>Expand information within the brewery database.</li>
                <li>More dynamic interaction of the map and breweries.</li>
            </ul>
        </p>
        <p>Thank you!<p>
    </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
